<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- 数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl"
                  value="jdbc:mysql://localhost:3306/springmvc?user=root&amp;password=root&amp;useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
        <property name="maxPoolSize" value="10"/>
        <property name="minPoolSize" value="2"/>
        <property name="initialPoolSize" value="3"/>
        <property name="acquireIncrement" value="2"/>
    </bean>

    <!--mybatis的工厂 -->
    <!-- mybatis整合spring的核心类。 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--核心配置文件的位置-->
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
    </bean>


    <!--Mapper动态动态代理开发加强，之扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--基本包 会自动扫描工厂，不用注入 会自动扫描包下的内容-->
        <property name="basePackage" value="com.hbzz.mybatis.mapper"/>
    </bean>
    <!--注册事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--开启注解-->
    <tx:annotation-driven  transaction-manager="transactionManager"/>
</beans>